<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} (running pasttle v{{version}})</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url}}/css/style.css"/>
% if defined('pygments_style'):
    <link rel="stylesheet" href="{{url}}/pygments/{{pygments_style}}.css"/>
% end
  </head>
  <body>
    <div class="main">
      <div class="title">
        <h1><a href="{{url}}">Pasttle</a></h1>
        <h2>{{title}}</h2>
      </div>
<!-- Content starts here -->
{{!base}}<!-- Content ends here -->
      <div class="footer">
        <p class="smalltext">Pasttle is Copyright &copy; Jorge Gallegos, 2012-{{current_year}}</p>
        <a class="smalltext" href="https://github.com/thekad/pasttle">Get the source code</a>
      </div><!--end of footer-->
    </div><!--end of main section-->
  </body>
</html>
