<html>
  <head>
    <title>{{title}} (running pasttle v{{version}})</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:700,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main">
      <div class="tittle">
        <h1>Pasttle</h1>
        <p class="aftertittle">a simple paste bin</p>
      </div><!--end of tittle-->
    <div class="wrap">
      <div class="example">
            <h2>Examples:</h2>
      </div><!--example-->
      <div class="container">
          <h3>To post the output of a given command:</h3>
            <p>&lt;command&gt; | curl -F "upload=&lt;-" {{url}}/post && echo</p>
          <h3>To post the contents of a file:</h3>
            <p>curl -F "upload=&lt;filename.ext" {{url}}/post && echo,</p>
          <h3>To post the contents of a file and force the syntax to be python:</h3>
            <p>curl -F "upload=&lt;filename.ext" -F "syntax=python" \\
            {{url}}/post && echo</p>
          <h3>To post the contents of a file and password protect it:</h3>
            <p>curl -F "upload=&lt;filename.ext" -F "password=humptydumpty" \\
          {{url}}/post && echo</p>
          <h3>You don't like sending plain-text passwords:</h3>
            <p>curl -F "upload=&lt;filename.ext" \\
            -F "password=$( echo -n 'bootcat' | sha1sum | cut -c 1-40 )" \\
            -F "is_encrypted=yes" {{url}}/post && echo</p>
          <h3>To get the raw contents of a paste (i.e. paste #6):</h3>
            <p>curl {{url}}/raw/6</p>
          <h3>To get the raw contents of a password-protected paste (i.e. paste #7):</h3>
            <p>curl -d "password=foo" {{url}}/raw/7</p>
          <h3>Again you don't like sending plain-text passwords:</h3>
            <p>curl -d "is_encrypted=yes" \\
            -d "password=$( echo -n 'bootcat' | sha1sum | cut -c 1-40 )" \\
            {{url}}/raw/7</p>
    </div><!--end of container-->
  </div><!--wrap-->
  <div class="helpers">
    <div class="example">
        <h2>Helpers</h2>
    </div><!--end of example-->
    <div class="paragr">
        <p>There are a couple of helper functions in the link below for pasting and
        getting pastes. Import it from your ~/.bash_profile and you should be able
        to use these functions. Creating a ~/.pasttlerc helps you type less too.</p>
        <a href="https://raw.github.com/thekad/pasttle/master/pasttle.bashrc">Link</a>
      </div><!--end of paragraph-->
  </div><!--end of helpers-->
  <div class="wform">
    <div class="example">
        <h2>Web Form</h2>
    </div><!--end of example-->
    <div class="paragr">
        <p>You can also use this tiny web form to easily upload content.</p>
        <a href="{{url}}/post">Link</a>
    </div><!--end of paragr-->
  </div><!--end of web form-->
    <div class="footer">
      <p class="smallertext">Copyright &copy; Jorge Gallegos, 2012-2013</p>
        <a href="https://github.com/thekad/pasttle">Get the source code</a>
    </div><!--end of footer-->
  </div><!--end of container-->
  </body>
</html>
