% rebase('base.html')
      <div class="section separator">
        <h2>Web Form</h2>
        <p>You can also use this tiny web form to easily upload content.</p>
        <a href="{{url}}/post">Link</a>
      </div><!--end of section-->
      <div class="section separator">
        <h2>Recent Items</h2>
        <p>There is a list showing recent items as well:</p>
        <a href="{{url}}/recent">Link</a>
      </div><!--end of section-->
      <div class="section separator">
        <h2>CLI Examples:</h2>
        <div>
          <h3>To post the output of a given command:</h3>
          <p class="terminal">&lt;command&gt; | curl -F "upload=&lt;-" {{url}}/post && echo</p>
          <h3>To post the contents of a file:</h3>
          <p class="terminal">curl -F "upload=&lt;filename.ext" {{url}}/post && echo,</p>
          <h3>To post the contents of a file and force the syntax to be python:</h3>
          <p class="terminal">curl -F "upload=&lt;filename.ext" -F "syntax=python" \\
          {{url}}/post && echo</p>
          <h3>To post the contents of a file and password protect it:</h3>
          <p class="terminal">curl -F "upload=&lt;filename.ext" -F "password=humptydumpty" \\
          {{url}}/post && echo</p>
          <h3>You don't like sending plain-text passwords:</h3>
          <p class="terminal">curl -F "upload=&lt;filename.ext" \\
          -F "password=$( echo -n 'bootcat' | sha1sum | cut -c 1-40 )" \\
          -F "is_encrypted=yes" {{url}}/post && echo</p>
          <h3>To get the raw contents of a paste (i.e. paste #6):</h3>
          <p class="terminal">curl {{url}}/raw/6</p>
          <h3>To get the raw contents of a password-protected paste (i.e. paste #7):</h3>
          <p class="terminal">curl -d "password=foo" {{url}}/raw/7</p>
          <h3>Again you don't like sending plain-text passwords:</h3>
          <p class="terminal">curl -d "is_encrypted=yes" \\
          -d "password=$( echo -n 'bootcat' | sha1sum | cut -c 1-40 )" \\
          {{url}}/raw/7</p>
        </div><!--end of examples-->
      </div><!--end of section-->
      <div class="section separator">
        <h2>Helpers</h2>
        <p>There are a couple of helper functions in the link below for pasting and
        getting pastes. Import it from your <span class="terminal">~/.bash_profile</span>
        and you should be able to use these functions. Creating a
        <span class="terminal">~/.pasttlerc</span> helps you type less too.</p>
        <a href="https://raw.github.com/thekad/pasttle/master/pasttle.bashrc">Link</a>
        <p>An example of a <span class="terminal">~/.pasttlerc</span> is here:</p>
        <pre class="terminal bigtext">
#!/bin/bash
checkupdate="no"
apiurl="https://blegh.net"
insecure=yes
verbose=yes</pre>
      </div><!--end of section-->
