.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

html,body {

  -webkit-font-smoothing: antialiased;
   height: 100%;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 23px;
    color:#ecf0f1;
}

.main {
  width: 100%;
/*  height: 100%;*/
  background-color: #27ae60;
  overflow: hidden;
}

/* tittle */

.tittle {
  width: 60%;
  height: 200px;
  position: relative;
  padding-top: 1%;
  padding-bottom:40px;
  margin: auto;
  text-align: center;
}

.tittle h1 {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 100px;
letter-spacing: -.04em;
color:#ecf0f1;
text-shadow: -.035em .040em #34495e;

}

.aftertittle {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  bottom: 80px;
}


.container {
  width: 50%;
  height: auto;
  margin: auto;
  text-align: center;
}


/* form */

.nodisplay {

  display:none;
}

textarea {
  background-color: #ecf0f1;
  text-align: center;
  width: 100%;
  border-radius:20px;
  border: none;

}

input {
  text-align:center;
  background-color: #ecf0f1;
  border: none;
  

}
.sintax {
   width: 50%;
   height: 40%;
   position:relative;
   margin: auto;
}



.button {
  top: 10px;
  position: relative;
  margin: auto;
  width: 50%;
  height: 40px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color:#ecf0f1;
  background-color: #8e44ad;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #9b59b6;
}
