.useless {
  # -*- mode:python; sh-basic-offset:2; indent-tabs-mode:nil; coding:utf-8 -*-
  # vim:set tabstop=2 softtabstop=2 expandtab shiftwidth=2 fileencoding=utf-8:
}

html,body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inconsolata', monospace;
  color: #ecf0f1;
}

body {
  background-color: #27ae60;
  padding: 40px;
}

textarea {
  background-color: #ecf0f1;
  border-radius: 5px;
  width: 95%;
  border: none;
  padding: 7px;
}

input {
  font-family: 'Inconsolata', monospace;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #ecf0f1;
  border: none;
  vertical-align: middle;
}

a {
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #444;
  text-decoration: none;
}

.title {
  text-align: center;
}

.main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 20px;
  padding-bottom: 10px;
}

.field {
  vertical-align: middle;
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.terminal {
  font-size: smaller;
  background-color: #000;
  padding: 2px;
  margin: 3px;
  color: #0f0;
}

.separator {
  border-bottom: 1px solid;
}

.footer {
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
}

.smalltext {
  font-size: x-small;
}

.bigtext {
  font-size: larger;
}

.button {
  margin: auto;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.button:hover {
  color: #ecf0f1;
  background-color: #000;
}
