
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.main {
  width: 100%;
  min-height: 100%;
  background-color: #1abc9c;
}

.tittle {
  width: 40%;
  height: 20%;
  position: relative;
  margin: auto;
}
