.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html,body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color:#ecf0f1;
}

.main {
  width: 100%;
  background-color: #27ae60;
  overflow: hidden;
}

.darktext {
  color: #000;
}

/* index */

.title {
  width: 60%;
  height: 200px;
  position: relative;
  padding-top: 1%;
  padding-bottom:40px;
  margin: auto;
  text-align: center;
}

/* typography */

.aftertitle {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  bottom: 80px;
  color: #ecf0f1;
}

.title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 100px;
  letter-spacing: -.04em;
  color:#ecf0f1;
  text-shadow: -.035em .040em #34495e;
}

.example h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 29px;
  color:#1e8248;
  position:relative;
  top: 60px;
}


 .left  {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 29px;
  color:#ecf0f1;
  position:relative;
  margin-bottom: 100px;
}




h3 {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}


p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
}


a {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-weight: 700;
  color:#34495e;
}

a:hover {
  color:#9b59b6;
}


.smallertext {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}

/* middle content*/

.wrap {
  width: 60%;
  min-height: 80%;
  background-color:#ecf0f1;
  margin: auto;
  border-radius: 20px;
  padding: 40px;
}


.container {
  width: 80%;
  height: auto;
  margin: auto;
}

.form {
  width: 50%;
  height: auto;
  margin: auto;
/*  text-align: center;*/
}

.helpers {
  width: 60%;
  margin: auto;
  min-height: 30%;
  background-color:#ecf0f1;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  top: 20px;
}

.wform {
  width: 30%;
  margin: auto;
  min-height: 20%;
  background-color:#ecf0f1;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  top: 40px;
}

.paragr {
  position:relative;
  bottom: 30px;
  width: 80%;
  margin:auto;
}

.example {
  position:relative;
  bottom: 40px;
  width: 80%;
  height: 100px;
  border-style:solid;
  border-color:#27ae60;
  border-width:1.5px;
  border-top:none;
  border-right:none;
  border-left: none;
}


/* last content*/

.footer {
  position: relative;
  top: 40px;
  width: 25%;
  height: 150px;
  color:#ecf0f1;
  margin: auto;
  padding-bottom: 50px;
  margin: auto;

}


.note {

  text-align: left;
  font-size: 14px;
  line-height: 19px;

}

/* post form */



.sintax {
  width: 100%;
  height: 100%;
  position:relative;
  margin: auto;
  margin-top: 30px;
}


.sintaxone {
  width: 30%;
  position: relative;
   margin: auto;
}

.sintaxone label {
  height: 300px;
  margin: auto;
  font-size: 14px;
  position: relative;
}
.nodisplay {
  display:none;
}

.sintaxone .left {

  text-align: left;
}

textarea {
  background-color: #ecf0f1;
  width: 100%;
  border-radius:20px;
  border: none;
  padding: 7px;
}

input {
  padding-left: 15px;
  background-color: #ecf0f1;
  border: none;
}


.wrapfields {

   margin: auto;
   text-align: center;
}


.field {
  width: 50%;
  height: 40px;
  border-radius: 15px;
}

.button {
  top: 10px;
  position: relative;
  margin: auto;
  width: 52%;
  height: 40px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color:#ecf0f1;
  background-color: #8e44ad;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #9b59b6;
}
